<div class="topwrapper"></div>
<div class="headerwrapper">
    <div class="header">
		<div class="headercenter">
            <!-- Logo Start -->
            <div class="logo">
                <a href="#">
                    <img src="$projectUrl.getUrl("/webresource/uploads/logo.png")" alt="Logo"/>
                </a>
            </div>
            <!-- Logo End -->
            <div class="headerright">
                <a href="/en/index.ac">
        			<img  class="language" src="$projectUrl.getUrl("/webresource/uploads/en.png")" alt="English" align="right"/>
                </a>
                <a href="/ch/index.ac">
        			<img  class="language" src="$projectUrl.getUrl("/webresource/uploads/ch.png")" alt="Italiano" align="right"/>
                </a>
                <!-- Menu Navigation Start --> 
                <div class="mainmenu">
                    <ul>
                        <li>
                            <a href="$projectUrl.getUrl("/en/index.ac")" >Home</a>
                        </li>
                        <li>
                            <a href="$projectUrl.getUrl("/en/activities.ac")" >Activities</a>
							<!--
                            <ul class="sub-menu">
                                <li>
                                    <a href="#" >Business Advisory</a>
                                </li>
                                <li>
                                    <a href="#" >Financial Advisory</a>
                                </li>
                                <li>
                                    <a href="#" >Investment Advisory</a>
                                </li>
                            </ul>
							-->
                        </li>
						<li>
                            <a href="$projectUrl.getUrl("/en/advantangeUs.ac")" >Our strengths</a>
                        </li>
						<li>
                            <a href="$projectUrl.getUrl("/en/aboutUs.ac")" >About us</a>
                        </li>
						<li>
                            <a href="$projectUrl.getUrl("/en/contactUs.ac")" >Contact us</a>
                        </li>
                    </ul>
                </div>
                <!-- Menu Navigation End -->
            </div>
        </div>
    </div>
</div>
